<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item active">Chat</li>
                    </ol>
                </div>
                <h4 class="page-title">Chat</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <!-- start chat users-->
        <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-1">
            <div class="card">
                <div class="card-body p-0">
                    <ul class="nav nav-tabs nav-bordered">
                        <li class="nav-item">
                            <a href="/chat-home" aria-expanded="false" class="nav-link py-2">
                                All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/groups" aria-expanded="true" class="nav-link active py-2">
                                Groups
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#friendUsers" aria-expanded="true" class="nav-link py-2">
                                Friends
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" style="margin : 4px 0 0 90px;" data-toggle="modal" data-target="#createGroupModal">
                            Create Group
                            </button>


                            {{#if message}}
                                <p style="color: green;">{{"message"}}</p>
                            {{/if}}


                            <!-- Create Group Modal -->
                            <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form action="" method="POST" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                
                                                <input type="text" name="name" placeholder="Enter group name", class="w-100 mb-2", style="border-radius: 5px; height: 41px;" required>
                                                <input type="file" name="image" class="w-100", required>
                                                <input type="number" min="1" placeholder="Enter number of member" name="limit" class="w-100 mt-2", style="border-radius: 5px; height: 41px;", required>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Create</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul> <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active p-3" id="newpost">

                            <!-- start search box -->
                            <div class="app-search">
                                <form>
                                    <div class="form-group position-relative">
                                        <input type="text" class="form-control"
                                            placeholder="People, groups & messages..." />
                                        <span class="mdi mdi-magnify search-icon"></span>
                                    </div>
                                </form>
                            </div>
                            <!-- end search box -->

                            <!-- users -->
                            <div class="row">
                                <div class="col">
                                    <div data-simplebar style="max-height: 550px">
                                        

                                        {{#each groups}}
                                            <a href="javascript:void(0);" class="text-body user-link" data-id="{{this._id}}" data-limit="{{this.limit}}">
                                                <div class="media mt-1 p-2"> <!-- class="media bg-light p-2" for conversation checked -->
                                                    <img src="{{this.image}}" class="mr-2 rounded-circle" height="48" width="48" alt="{{this.name}}" />
                                                    {{!-- {{#if this.status}}
                                                        <sup class="online-status" id="{{this._id}}-status"></sup>
                                                    {{else}}
                                                        <sup class="offline-status" id="{{this._id}}-status"></sup>
                                                    {{/if}} --}}
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-0 font-14">
                                                            <span class="float-right text-muted font-12">5:30am</span>
                                                            {{this.name}}
                                                        </h5>
                                                        <p class="mt-1 mb-0 text-muted font-14">
                                                            {{!-- <span class="w-25 float-right text-right"><span class="badge badge-danger-lighten">3</span></span> --}}
                                                            <span class="w-75 member-limit" id="{{this.limit}}">? members in group!</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        {{/each}}


                                    </div> <!-- end slimscroll-->
                                </div> <!-- End col -->
                            </div>
                            <!-- end users -->
                        </div> <!-- end Tab Pane-->
                    </div> <!-- end tab content-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
        <!-- end chat users-->

        <!-- chat area -->
        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1" id="chat-area">
            <div class="card">
                <div class="card-body">
                    <ul class="conversation-list" id="chat-container">
                        {{!-- <li class="clearfix">
                            <div class="chat-avatar">
                                <img src="assets/images/users/avatar-5.jpg" alt="Shreyu N" class="rounded" />
                                <i>10:04</i>
                            </div>
                            <div class="conversation-text">
                                <div class="ctext-wrap">
                                    <i>Shreyu N</i>
                                    <p>
                                        We can also discuss about the presentation talk format if you have some extra mins
                                    </p>
                                </div>
                            </div>
                            <div class="conversation-actions dropdown">
                                <button class="btn btn-sm btn-link" data-toggle="dropdown"
                                    aria-expanded="false"><i class='uil uil-ellipsis-v'></i></button>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Copy Message</a>
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix odd">
                            <div class="chat-avatar">
                                <img src="assets/images/users/avatar-1.jpg" alt="dominic" class="rounded" />
                                <i>10:05</i>
                            </div>
                            <div class="conversation-text">
                                <div class="ctext-wrap">
                                    <i>Dominic</i>
                                    <p>
                                        3pm it is. Sure, let's discuss about presentation format, it would be great to finalize today. 
                                        I am attaching the last year format and assets here...
                                    </p>
                                </div>
                                <div class="card mt-2 mb-1 shadow-none border text-left">
                                    <div class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar-sm">
                                                    <span class="avatar-title rounded">
                                                        .ZIP
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col pl-0">
                                                <a href="javascript:void(0);"
                                                    class="text-muted font-weight-bold">Hyper-admin-design.zip</a>
                                                <p class="mb-0">2.3 MB</p>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Button -->
                                                <a href="javascript:void(0);"
                                                    class="btn btn-link btn-lg text-muted">
                                                    <i class="dripicons-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-actions dropdown">
                                <button class="btn btn-sm btn-link" data-toggle="dropdown"
                                    aria-expanded="false"><i class='uil uil-ellipsis-v'></i></button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Copy Message</a>
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </li>
                --}} </ul> 

                    <div class="row">
                        <div class="col">
                            <div class="mt-2 bg-light p-3 rounded">
                                <form class="needs-validation" novalidate="" id="chat-form"
                                    id="chat-form">
                                    <div class="row">
                                        <div class="col mb-2 mb-sm-0">
                                            <input type="text" class="form-control border-0" name="message" id="message" placeholder="Enter your text" required="">
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-light"><i class="uil uil-paperclip"></i></a>
                                                <a href="#" class="btn btn-light"> <i class='uil uil-smile'></i> </a>
                                                <button type="submit" class="btn btn-success chat-send btn-block"><i class='uil uil-message'></i></button>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </form>
                            </div> 
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div>
        <!-- end chat area-->

        <!-- start user detail -->
        <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2" id="user-detail">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">View full</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Edit Contact Info</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Remove</a>
                        </div>
                    </div>

                    <div class="mt-3 text-center">
                        <img src="assets/images/users/avatar-5.jpg" alt="shreyu"
                            class="img-thumbnail avatar-lg rounded-circle" />
                        <h4>Shreyu N</h4>

                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm mt-1 addMember" id="memberModalButton" data-toggle="modal" data-target="#memberModal">
                            <i class='uil uil-plus mr-1'></i>
                            Add members
                        </button>
                        <!-- Add member Modal -->
                        <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form action="" id="add-member-form">
                                        <div class="modal-body">
                                            
                                            <input type="hidden", name="group_id", id="group_id">
                                            <input type="hidden", name="limit", id="limit">
                                            <table class="table">
                                                <thead>
                                                    <tr class="w-100">
                                                        <th>Select</th>
                                                        <th>Avatar</th>
                                                        <th>Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                       <td colspan="3" style="text-align: right;">
                                                            <div class="addMemberTable">
                                                                <table class="table addMemberInTable">

                                                                </table>
                                                            </div>
                                                       </td> 
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <p id="add-member-error"></p>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Update Members</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <p class="text-muted mt-2 font-14">Last Interacted: <strong>Few hours back</strong></p>
                    </div>

                    <div class="mt-3">
                        <hr class="" />

                        <p class="mt-4 mb-1"><strong><i class='uil uil-at'></i> Email:</strong></p>
                        <p>support@coderthemes.com</p>

                        <p class="mt-3 mb-1"><strong><i class='uil uil-phone'></i> Phone Number:</strong></p>
                        <p>+1 456 9595 9594</p>

                        <p class="mt-3 mb-1"><strong><i class='uil uil-location'></i> Location:</strong></p>
                        <p>California, USA</p>

                        <p class="mt-3 mb-1"><strong><i class='uil uil-globe'></i> Languages:</strong></p>
                        <p>English, German, Spanish</p>

                        <p class="mt-3 mb-2"><strong><i class='uil uil-users-alt'></i> Groups:</strong></p>
                        <p>
                            <span class="badge badge-success-lighten p-1 font-14">Work</span>
                            <span class="badge badge-primary-lighten p-1 font-14">Friends</span>
                        </p>
                    </div>
                </div> 
            </div> 
        </div> 
        <!-- end user detail -->

        <!-- welcome content -->
        <div class="col-xl-9 col-lg-12 order-lg-2 order-xl-1" id="welcome-content" style="text-align: center;">
            <!-- your welcome content here -->
            <h1>Welcome to the chat app!</h1>
        </div>
    </div> <!-- end row-->


</div> <!-- container -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Lắng nghe sự kiện click trên thẻ <a>
        document.querySelectorAll('.user-link').forEach(function (userLink) {
            userLink.addEventListener('click', function () {
                // Lấy giá trị data-id từ thẻ <a>
                var dataId = userLink.getAttribute('data-id');
                var dataLimit = userLink.getAttribute('data-limit');

                // Gán giá trị data-id vào button modal
                var addButton = document.getElementById('memberModalButton');
                if (addButton) {
                    addButton.setAttribute('data-id', dataId);
                    addButton.setAttribute('data-limit', dataLimit);
                } else {
                    console.error('Không tìm thấy button modal');
                }
            });
        });
    });

</script>

